#calculator {
     display: flex;
     flex-direction: column;
     row-gap: 15%;
     width: 27em;
     height: 43em;
     border: solid black 1px;
}

#displayRow {
     width: 100%;
     height: 5em;
     margin-top: 2em;
}

#display {
     width: 80%;
     height: 5em;
     border: solid black 1px;
     margin-left: 10%;
}

#memory {
     width: 80%;
     height: 4em;
     border: solid black 1px;
     margin-left: 10%;
}

#btns {
     display: flex;
     flex-direction: column;
     row-gap: 2em;
}

.btnRow {
     display: flex;
     flex-direction: row;
     justify-content:space-between;
     column-gap: 2em;
     margin-left: 2em;
     margin-right: 2em;
}

button {
     width: 4.5em;
     height: 4.5em;

}

#clear {
     width: 50%;
}

#back {
     width: 50%;
}
